body{
	font-family:Trebuchet MS;
	background-image: url(jim.jpg);
	background-size: cover;
	cursor: grab;
	font-size: 50px;
	overflow: hidden;
}
.gameGrid{
	justify-content: center;
  	text-align: center;
  	margin: 90px;
  	font-size:20px;
}
#playerTurn{
	border-style: ridge;
	border-radius: 15px;
	background-color: #413a3a;
	justify-content: center;
	font-size: 30px;
	color: #8b9393;
    width: 250px;
    height: 35px;
  	margin: auto;
	padding-top: 5px;
  	padding-bottom: 0px;
	animation: blinker 1s infinite;
}
  @keyframes blinker{ 
	50% {
      		opacity: 0.75%;
    	}
}
.gameGrid section{
	display: flex;
  	justify-content: center;
  	text-align: center;
}

.gameGrid section input{
	font-weight: bold;
	text-align: center;
  	background: rgb(103, 69, 69);
	display: block;
  	height: 100px;
  	width: 100px;
  	border-style: ridge;
	border-radius: 50px;
}
.gameGrid section input:hover{
	cursor: pointer;
	border-style: outset;
	width: 100px;
	height: 100px;
	border-radius: 75px;
	transform: scale(1.10);
	background-color: burlywood;
	background-size: contain;
	background-attachment: fixed;
	background-position: center;
}

#btn1, #btn2{
	font-weight: bold;
	border-color: rgb(11, 11, 11);
	background-color: rgb(126, 91, 91);
	font-size: 15px;
	border-width: 3px;
	border-radius: 15px;
	width: 150px;
	height: 50px;
	transition: background 0.75s ease-in-out;
}
#btn1:hover, #btn2:hover{
	cursor: pointer;
	transform: scale(1.05);
	background: rgb(105, 65, 65);
}

